# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/

# Docker
*.log
*.out

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.crc

# VSCode
.vscode/

# Mac
.DS_Store

# kubeconfig for CI
ci-kubeconfig